<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
  </head>
  <style>
      body {
        align-items: center;
        background-color: rgba(193, 226, 226, 0.779);
        display: flex;
        justify-content: center;
        height: 100vh;
        }

    .form {
        background-color: #0d4250;
        border-radius: 20px;
        box-sizing: border-box;
        height: 545px;
        padding: 20px;
        width: 320px;
        }

    .title {
        color: #eee;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
        }

    .subtitle {
        color: #eee;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
        }

    .input-container {
        height: 50px;
        position: relative;
        width: 100%;
        }

    .ic1 {
        margin-top: 40px;
        }

    .ic2 {
        margin-top: 30px;
        }

    .input {
        background-color: #5b7781;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
        }

    .cut {
        background-color: #0d4250;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 76px;
        }

    .cut-short {
        width: 50px;
        }

    .input:focus ~ .cut,
    .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
        }

    .placeholder {
        color: #eee;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
        }

    .input:focus ~ .placeholder,
    .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
        }

    .input:not(:placeholder-shown) ~ .placeholder {
        color: aliceblue;
        }

    .input:focus ~ .placeholder {
        color: aliceblue;
        }

    .submit {
        background-color: #5b7781;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        outline: 0;
        text-align: center;
        width: 100%;
        }

    .submit:active {
        background-color: #06b;
        }

  </style>
  <body>
        <div class="form">
            {% include "lab4_nav_bar.html" %}
            <div class="title">Welcome ^^</div>
            <div class="subtitle">Let's write your message for someone special!</div>
            
            <form action="" method="POST">
                {% csrf_token %}
                    <div class="input-container ic1">
                    <input id="dari" class="input" type="text" nama="dari" placeholder=" " />
                    <div class="cut"></div>
                    <label for="dari" class="placeholder">Sender name</label>
                    </div>

                    <div class="input-container ic2">
                    <input id="untuk" class="input" type="text" nama="untuk" placeholder=" " />
                    <div class="cut"></div>
                    <label for="untuk" class="placeholder">Receiver name</label>
                    </div>

                    <div class="input-container ic2">
                    <input id="judul" class="input" type="text" nama="judul" placeholder=" " />
                    <div class="cut cut-short"></div>
                    <label for="judul" class="placeholder">Title</>
                    </div>

                    <div class="input-container ic2">
                        <input id="pesan" class="input" type="text" nama="pesan" placeholder=" " />
                        <div class="cut cut-short"></div>
                        <label for="pesan" class="placeholder">Your message...</>
                    </div>

                    <button type="submit" class="submit" value="Submit">
                        submit
                    </button>
            </form>
        </div>
  </body>
</html>

