<!DOCTYPE html>
<html>
    <head>
    <style>
        .card {
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        transition: 0.3s;
        width: 40%;
        border-radius: 5px;
        background: #0d4250;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: sans-serif;
        }
        .card:hover {
        box-shadow: 0 8px 16px 0 aliceblue;
        }
        .container {
        padding: 2px 16px;
        }
        h1 {
            color :#0d4250;
            text-align: center;
            font-family: sans-serif;
        }
        h3 {
            color :rgb(255, 255, 255)
        }
        p {
            color :rgb(255, 255, 255)
        }
    </style>
    </head>
    <body style="background-color:rgba(193, 226, 226, 0.779);">
        {% include "lab4_nav_bar.html" %}
        <h1>Note Cards</h2>
        {% for n in note %}
            <div class="card">
            <div class="container">
                <h3><b>From     : {{n.dari}}</b></h4> 
                <h3><b>To       : {{n.untuk}}</b></h4> 
                <h3><b>Title    : {{n.judul}}</b></h4> 
                <p>━━━━━━━━━━━</p> 
                <p>{{n.pesan}}</p> 
            </div>
            </div>
        {% endfor %}
    </body>
</html> 
