<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
  </head>
  <style>
       .header {
        padding: 5px;
        text-align: center;
        color: #2b4e4d;
        font-size: 23px;
        border-radius: 10px;
      }
        .styled-table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            margin-top: auto;
            margin-bottom: auto;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: hsl(183, 29%, 68%);
            color: #2b4e4d;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #def3f6;
        }
        .styled-table tbody tr:nth-of-type(even) {
            background-color:  hsl(168, 21%, 71%);
        }
        .styled-table tbody tr:nth-of-type(odd) {
            background-color: hsl(180, 56%, 96%);
        }
        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid hsl(168, 22%, 64%);
        }
    
  </style>
  <body style="background-color: rgba(193, 226, 226, 0.779);">
    {% include "lab4_nav_bar.html" %}
      <div class="header">
        <h1>Note List</h1>
        <p>Here are all of the messages, enjoy ^^ !</p>
      </div>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for n in note %}
            <td>{{n.dari}}</td>
            <td>{{n.untuk}}</td>
            <td>{{n.judul}}</td>
            <td>{{n.pesan}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>