<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note</title>
    </head>
    <body>
        <table>
            {% for notes in note %}
            <tr>
                <th scope="row" style="text-align:left">To</th>
                <td>{{notes.untuk}}</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left">From</th>
                <td>{{notes.dari}}</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left">Title</th>
                <td>{{notes.judul}}</td>
            </tr>
            <tr>
                <th scope="row" style="text-align:left">Message</th>
                <td>{{notes.pesan}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>